<html lang="en">

<head>
    <title>Services Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AWS CoreOS Services Dashboard">
    <link rel="shortcut icon" href="resources/assets/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/picnicss/6.1.1/picnic.min.css">
</head>

<body>
  <div style="width:80%; margin:0 auto; margin-top: 30px;">
    <div class="flex one center">
      {{range $group := .groups}}
      <table class="primary">
        <thead>
          <tr>
            <th>Name</th>
            <th width="15%">Active State</th>
            <th width="15%">Load State</th>
            <th width="15%">Sub State</th>
            <th width="15%">Machine ID</th>
          </tr>
        </thead>
        <tbody>
          {{range $service := $group}}
          <tr>
            <td>{{$service.Name}}</td>
            <td>{{$service.ActiveState}}</td>
            <td>{{$service.LoadState}}</td>
            <td>{{$service.SubState}}</td>
            <td>{{$service.MachineID}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
      {{end}}
    </div>
  </div>
</body>

</html>
