<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/favicon.ico" />
    <title>AWS CoreOS Dashboard</title>
</head>

<body>
    <div class="container">
        <pre>{{.body}}</pre>
    </div>
</body>

</html>
